body {
    background-image: url("../images/white_wall_hash.webp");
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-size: 60px;
}

.programmingLanguages {
    display: inline-block;
    text-align: left;
}

li {
    float: center;
    font-size: 20px;
}

.lengthKnown {
    color: #7567cf;
    font-size: 15px;
}

.headingCaption {
    font-style: italic;
    color: gray;
    margin: 0px 150px;
}

article {
    border: #1f1a42 solid 3px;
    border-radius: 15px;
    margin: 0 auto;
}

.aboutMe {
    max-width: 500px;
}

#langs {
    width: 500px;
    height: 360px;
    display: inline-block;
}

ul {
    display: inline-block;
    height: 50px;
}

#aboutMeYears {
    color: rgb(204, 92, 185);
    text-decoration: none;
}

#aboutMeYears:hover {
    color: rgb(141, 32, 126);
}